@import 'variables';
@import 'intro';

*{
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}
nav{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    .pages{
        display: flex;
        justify-content: space-between;
        p{
            margin-right: 10px;
        }
    }
    .icons{
        margin-right: 10px;

    }
    .link{
        background-color: $darkprimary;
        padding: 30px;
        text-decoration: none;
        color: $black;
        font-weight: bold;
    }
}